<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="img/icons/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="css/style_index.css"/>
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    
    <title>Rashômon : Chat</title>
</head>
<body>
  <div class="container-fluid text-center bloc-404">
    <div>
      <h1>404 Error</h1>
      <h2>Page not found</h2>
       <a href="/">ACCUEIL</a>
    </div>
  </div>
</body>
</html>