<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/list_user.css">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <title>Inscription</title>
</head>
<body>
    <div class="container container-inc">
        <div class="head-inc">
            <h2>Inscription</h2>
            <a href="/" class="homeInc"><i class="fa fa-home"></i></a>
        </div>
        <div class="bl-success"></div>
        <div class="body-inc">
            <form method="POST" name="inscription">
                <div class="form-group">
                    <label for="">Type d'utilisateur</label>
                    <select class="r-user form-control">
                        <option value="1">Administrateur</option>
                        <option value="0">Utilisateur Simple</option>
                    </select>
                    <input type="number" name="roleUser" class="form-control" id="_role" value="1" hidden disabled>
                </div>
                <div class="form-group">
                    <label for="">Téléphone <i>au format international (+33)</i></label>
                    <input type="tel" name="tel" class="form-control" id="_tel">
                </div>
                <div class="form-group bl-messageTel"></div>
                <div class="form-group">
                    <label for="">Mail</label>
                    <input type="text" name="email" class="form-control" id="_mail" >
                </div>
                <div class="form-group bl-messageEmail"></div>
                <div class="form-group">
                    <label for="">Mot de passe</label>
                    <input type="password" name="password" class="form-control" id="_password" >
                </div>
                <div class="form-group bl-messageMDP"></div>
                <div class="form-group">
                    <label for="">Confirmer votre mot de passe</label>
                    <input type="password" name="confirm_password" class="form-control" id="_cpassword" required>
                </div>
                <div class="form-group bl-messageInc"></div>
                <div class="form-group text-center">
                    <button type="button" name="submitInc" class="btn-inc">Enregistrer</button>
                </div>
            </form>
            <div class="foot-inc">
                <a href="/lst-user">Tous les utilisateurs</a>
            </div>
        </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/global.js"></script>
</body>
</html>