<ul class="list">
    <li class="clearfix">
      <div class="about">
        <div class="name">Vincent Porter</div>
        <div class="status">
          <i class="fa fa-circle online"></i> +33 33 45 884 5
        </div>
      </div>
    </li>
    
    <li class="clearfix">
      <div class="about">
        <div class="name">Aiden Chavez</div>
        <div class="status">
          <i class="fa fa-circle offline"></i> +33 33 45 884 5
        </div>
      </div>
    </li>
    
    <li class="clearfix">
      <div class="about">
        <div class="name">Mike Thomas</div>
        <div class="status">
          <i class="fa fa-circle online"></i> +33 33 45 884 5
        </div>
      </div>
    </li>
    
    <li class="clearfix">
       <div class="about">
        <div class="name">Erica Hughes</div>
        <div class="status">
          <i class="fa fa-circle online"></i> +33 33 45 884 5
        </div>
      </div>
    </li>
    
    <li class="clearfix">
      <div class="about">
        <div class="name">Ginger Johnston</div>
        <div class="status">
          <i class="fa fa-circle online"></i> +33 33 45 884 5
        </div>
      </div>
    </li>
    
    <li class="clearfix">
       <div class="about">
        <div class="name">Tracy Carpenter</div>
        <div class="status">
          <i class="fa fa-circle offline"></i> +33 33 45 884 5
        </div>
      </div>
    </li>
    
    <li class="clearfix">
      <div class="about">
        <div class="name">Christian Kelly</div>
        <div class="status">
          <i class="fa fa-circle offline"></i> +33 33 45 884 5
        </div>
      </div>
    </li>
    
    <li class="clearfix">
      <div class="about">
        <div class="name">Monica Ward</div>
        <div class="status">
          <i class="fa fa-circle online"></i> +33 33 45 884 5
        </div>
      </div>
    </li>
    
    <li class="clearfix">
      <div class="about">
        <div class="name">Dean Henry</div>
        <div class="status">
          <i class="fa fa-circle offline"></i> +33 33 45 884 5
        </div>
      </div>
    </li>
    
    <li class="clearfix">
      <div class="about">
        <div class="name">Peyton Mckinney</div>
        <div class="status">
          <i class="fa fa-circle online"></i> +33 33 45 884 5
        </div>
      </div>
    </li>
  </ul>