.chat{
    width: 100%;
}
.b-table_{
    /*height: 97vh;*/
}
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
#customers td, #customers th {
    padding: 8px;
}
  
#customers tr:nth-child(even){
    background-color: #f2f5f81f;
}
  
#customers tr:hover {
    cursor: pointer;
    transition: 0.3s;
    background: linear-gradient(120deg, #db545a, #a665a6);
}
  
#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #484848;
    color: #ffffff;
}
.action-lst{
    position: absolute;
    right: 104px;
    top: 83px;
}

.action-lst button.btn-add{
    background: #5ab8e5;
    border: none;
    padding: 8px 26px 8px;
    border-radius: 5px;
}

.action-lst button.btn-acc{
    background: linear-gradient(120deg, #db545a, #a665a6);
    border: none;
    padding: 8px 26px 8px;
    border-radius: 5px;
}
.action-lst button.btn-add a, .action-lst button.btn-acc a{
    color: #fff;
    text-decoration: none;
}

.btn-action-lst{
    padding: 6px 17px;
    border-radius: 4px;
    text-decoration: none;
    color: #fff;
    padding: 5px 17px;
    border-radius: 4px;
    text-decoration: none;
    margin: 0 3px;
}
.btn-action-lst:hover{
    cursor:pointer;
}
.btn-info{
    background: #5ab8e5;
}
.btn-edit{
    background: #e3c24a;
}
.btn-delete{
    background: #4e4e4e;
}
td.action-list{
    float: right;
}

#searchUser{
    padding: 8px 10px;
    margin: 9px 0 0;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
}

#searchUser:focus{
    border: 1px solid #d45663;
    outline: none;
}

i.ico-search{
    font-size: 16px;
    position: relative;
    top: 2px;
    left: 8px;
    color: #cdcdcd;
}

i.ico-refresh{
    font-size: 16px;
    position: relative;
    top: 2px;
    left: 8px;
    color: #cdcdcd;
}

a.l-ico-refresh{
    position: relative;
    left: 11px;
    border-left: 1px solid #dddddd;
}
a.l-ico-refresh:hover i{
    color: #42cb42!important;
}

/*////////////////////////////////////////*/
/*////////////// INSCRIPTION /////////////*/
/*////////////////////////////////////////*/
.container-inc{
    width: 500px!important;
    background: white;
    margin: 6% auto;
    padding: 0!important;
}

.container-inc h2{
    background: #f5f5f58c;
    text-align: center;
    font-size: 20px;
    padding: 18px 0;
    color: #d0576a;
}

.body-inc{
    padding: 0 52px;
}

.body-inc form input{
    background: #f9f9f98c!important;
}

.body-inc form input:focus{
    background: #e8f0fe!important;
}

.body-inc .btn-inc{
    background: linear-gradient(120deg, #a665a6, #e05399)!important;
    color: #fff;
    margin: 22px 0 0!important;
    border-radius: 20px!important;
    width: 200px;
    border: none;
    padding: 5px 0;
    margin: auto;
}

.body-inc .btn-inc:hover{
    background: linear-gradient(120deg, #e05399, #a665a6)!important;
    transition: 0.4s;
    cursor:pointer;
}

.foot-inc{
    text-align: center;
    padding: 0 0 20px;
}

.messageInc{
    background: #d65560;
    color: #fff;
    padding: 10px 24px;
    border-radius: 8px;
}
.successInc{
    background: #49a9214f;
    text-align: center;
    padding: 13px 0;
    margin-bottom: 21px;
    color: #236807;
}

.homeInc{
    position: relative;
    top: -105px;
    background: #f9f9f9;
    padding: 5px 17px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    font-size: 26px;
    color: #b95f8b;
}